@import '../../assets/scss/mixins';

.BankCard {
   

    position: relative;
    background-image: url(../../assets/images/blur-bg-04.png);
    margin: 0 auto;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;

    //  background-position: center bottom;
    // background-image: url(../../assets/images/bluCarrt.png);

    .img {
        img {
            height: 28px;
        }
    }
}