.ckBox {
    font-family: "IRANyekan" !important;

    p {
        font-family: "IRANyekan" !important;
    }

    * {
        font-family: "IRANyekan" !important;
    }
    iframe {
        font-family: "IRANyekan" !important;
    }

    html,
    body {
        font-family: "IRANyekan" !important;
    }

}