.currency {
    .icon {

        // width: 45px;
        // height: 45px;
        // border-radius: 100%;
        // background-color: rgba(255, 151, 151 , 0.24);
        // border: 2px solid #ff9797;
        img {
            width: 25px;
            height: 25px;
            border-radius: 100%;
        }
    }
}