.binanceId {
    position: relative;
    // padding-left: 18px;
    color: #F0B90B;
    text-decoration: underline;

    // &:after {
    //     content: "";
    //     position: absolute;
    //     left: 0;
    //     background-image: url(../../assets/images/binance_logo.png);
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     width: 15px;
    //     height: 15px;
    // }
}

.marketId {
    svg {
        transform: translateZ(0);
        transition-duration: 0.3s;
        transition-property: transform;
        transition-timing-function: ease-out;
    }

    &:hover {
        svg {
            transform: scale(1.3);
            transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
        }
    }
}